<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/output.css}">

    <title>Feedback</title>
</head>
 
<body>
    <div class="min-h-screen forcenter ">
        <div class="w-full max-w-md space-y-8">
            <div class="forcenter">
                <img src="images/logo_lightbg.png" class="h-20 w-30" alt="">
            </div>
            <h1 class="font-bold forcenter text-4xl">We value your opinions</h1>
           
            <form class="mt-8 space-y-6" th:action="@{/feedback}" method="post">
                <div>
                    <p>How would you rate your overall experience?</p>
                </div>

                <div>
                    <p>Kindly take a moment to tell us what you think.</p>
                    <input type="text" name="" id="">
                </div>
                <button>Share my feedback</button>
            </form> 

            
        </div>
    </div>
</body>

</html>