<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/output.css}">

    <title>SignUp</title>
</head>
<body>
    <div class="min-h-screen forcenter ">
        <div class="w-full max-w-md space-y-8">
            <div class="forcenter">
                <img src="images/logo_lightbg.png" class="h-16 w-26" alt="">
            </div>
            <h1 class="font-bold forcenter text-2xl">Create a new Account</h1>
            <form class="mt-8 space-y-6" action="/signup" method="post">
                <div class="rounded-md shadow-sm space-y-4">
                    <input
                        class="appearance-none rounded w-full px-3 py-2 border border-gray-300 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
                        type="text" name="name" placeholder="Enter your name" required>
                    <input
                        class="appearance-none rounded w-full px-3 py-2 border border-gray-300 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
                        type="email" name="email" placeholder="Enter your email" required>
                    <input
                        class="appearance-none rounded w-full px-3 py-2 border border-gray-300 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
                        type="password" name="pswd" placeholder="Enter a password" required>
                    <input
                        class="appearance-none rounded w-full px-3 py-2 border border-gray-300 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
                        type="password" name="cpswd" placeholder="Confirm Password" required>
                    <button
                        class="w-full forcenter py-2 px-4 border border-transparent bg-indigo-600 text-white font-medium rounded-md transition hover:bg-indigo-700"
                        type="submit">Signup</button>
                </div>
            </form>
            <div class="forcenter gap-1">
                Already have an account?
                <a href="/login" class="text-indigo-600 hover:text-indigo-700 ">Login</a>
            </div>
        </div>
    </div>
</body>
</html>